SERVER_ADDR=:8080
SERVER_READ_HEADER_TIMEOUT=5s
SERVER_SHUTDOWN_TIMEOUT=5s

LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=./log

JWT_SIGNING_KEY=development-secret-change-me
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=720h
BCRYPT_COST=12

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=confectionery
DATABASE_SSL_MODE=disable
DATABASE_TIMEOUT=5s
